ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    margin-right: 3px;
    border-style: dotted;
    border-color: grey;
    border-width: 3px;
    position: relative;
}

li a {
    display: block;
    padding: 5px 50px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: black;
    color: white;
}

.submenu {
    display: none;
    position: absolute;
    width: 139px;
}

li:hover .submenu {
    display: block;
}

.submenu li {
    float: none;
    margin: 3px 0;
}