body {
    font-family: Arial, sans-serif;
}

.container {
    width: 620px;
}

.header {
    display: flex;
}

.header .left {
    width: 120px;
}

.header .center {
    width: 340px;
    text-align: center;
    background-color: yellow;
    font-size: 27px;
    padding: 10px;
}

.header .right {
    width: 160px;
}

.content {
    display: flex;
}

.sidebar {
    width: 130px;
    position: relative;
}

.sidebar .bg-image {
    width: 120px;
    height: 600px;
    display: block;
}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.lines {
    font-size: 14px;
    text-align: center;
    text-decoration-line: underline;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-left: 15px;
}

.main {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    padding-right: 0px;
}

.image-box {
    float: right;
    width: 200px;
    margin-left: 15px; /* Supaya teks tidak terlalu menempel pada gambar */
}

.image-box img {
    width: 200px;
    height: 150px;
}

.caption {
    width: 190px;
    text-align: center;
    font-size: 12px;
    background-color: #4169E1;
    color: white;
    padding: 5px;
}

.footer {
    text-align: center;
    background-color: #4169E1;
    color: black;
    font-size: 12px;
    width: 500px;
    position: relative;
    top: -14px;
    left: 120px;
}

h1 {
    text-align: center;
    color: #4169E1;
    font-size: 22px; /* Sesuaikan ukuran heading */
    width: 100%; /* Membuat heading lebih panjang */
    display: inline-block;
}

p {
    font-size: 13px;
    text-align: justify;
    color: #4169E1;
    max-width: 420px; /* Sesuaikan dengan ukuran di gambar */
    line-height: 1.5; /* Tambahkan jarak antar baris agar lebih enak dibaca */
}